<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
        <meta name="viewport" content="width=device-width" />

        @views.html.title("Dự ")

        @views.html.tags.main_css()
        <style>
        .input-icons i {
            position: absolute;
        }
        .input-icons i {

        }
        position: static;
        width: 65px;
        height: 18px;
        left: 32px;
        top: 0px;

        font-family: FS PF BeauSans Pro;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 18px;

        .input-icons {
            width: 100%;
            margin-bottom: 10px
            position: absolute;
            width: 1152px;
            height: 576px;
            left: 384px;
            top: 252px;
        }

        .icon {
            padding: 10px;
            color: green;
            min-width: 50px;
            text-align: center;
        }

        .input-field {
            width: 100%;
            padding: 10px;
            text-align: center;
        }

        h2 {
            color: green;
        }
    </style>
    </head>
    <body class="bg-theme " style="background-image: url(@routes.Assets.versioned("images/logo_platfrom.png"))">

        <div class="wrapper">
            <div class="authentication-reset-password d-flex align-items-center justify-content-center">
                <div class="row">
                    <div class="wrapper">
                        <div class="row">
                            <div class="col-12 col-lg-8 mx-auto">
                                <div class="">
                                    <div class="row g-0" style="padding: 30px;border-radius: 32px;box-shadow: 0 0 30px 0 rgba(129, 137, 152, 0.4);background-color: #ffffff;">

                                        <div class="col-lg-7">
                                            <div class="text-center">
                                                <href="/">
                                                <img src= <img src="@routes.Assets.versioned("images/logo_platform.png")" height="80%" alt="" />
                                            </div>

                                            <img src="@routes.Assets.versioned("images/logo.png")" class="card-img login-img h-80 mt-5" alt="...">
                                        </div>
                                        <div class="col-lg-5 border-end">
                                            <div class="card-body mb-1">
                                                <div class="p-6 mt-3">
                                                    <form class="row g-3" action="/login" id="form-login" method="post" autocomplete="off">
                                                        <div class="col-12">
                                                            <h5 class="dangnhap" style="text-align: ">Đăng nhập</h5>
                                                            <a class="input-group-text"><i class="fa fa-user-circle" aria-hidden="true"></i></a>
                                                            <input type="text" id="inputEmail" name="usename" class=""/><br><br>
                                                        </div>
                                                        <div class="input-icons">
                                                            <i class="fa fa-user" aria-hidden="true"></i>
                                                            <input class="color-input-field" id="inputEmail" name="username" class="" type="text"/><br>
                                                        </div>
                                                        <form>
                                                            <div class="col-12">
                                                                <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
                                                                <label for="vehicle1">Ghi Nhớ</label><br>
                                                            </div>
                                                        </form>
                                                </div>
                                                <div class="col-12">
                                                    <div class="d-grid">
                                                        <button type="submit" id="loginButton"style="background-color: black; color: white" class="btn">Xác nhận</button>
                                                    </div>
                                                    <div class="d-grid mt-3">
                                                        <p style="text-align: center">Quay lại <a href="/" style="font-weight: bold">Trang chủ</a></p>
                                                    </div>
                                                </div>
                                                <div class="p-6" style="margin-top: 100px">
                                                    <div class="col-12 mt-5">
                                                        <div class="d-grid ">
                                                            <p>Bạn chưa có tài khoản? <a href="/register" style="font-weight: bold">Đăng kí tại đây</a></p>
                                                        </div>
                                                        <div class="d-grid ">
                                                            <p>Bạn quên mật khẩu? <a href="/password" style="font-weight: bold">Thay đổi mật khẩu tại đây</a></p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @views.html.tags.main_js()
    </body>
</html>